*.COM
*.com
*.EXE
*.exe
*.wav
*.MAP
*.map
*.TXT
*.txt
*.INI
*.ini
*.OBJ
*.obj
*.SWP
*.swp
*.o
*.a
*.seq

!tracker/maps/x16_to_x32.json
!tracker/maps/x32_to_x16.json

!CMakeLists.txt
cmake_install.cmake
CMakeFiles/

build/
bin/
temp/

apack/
APACK/

**/*.idea
**/*.vscode/**
**/*.ipynb_checkpoints/**
**/*__pycache__/**
*.pyc
