*.COM
*.com
*.EXE
*.exe
*.wav
*.MAP
*.map
*.TXT
*.txt
*.INI
*.ini
*.OBJ
*.obj
*.o
*.a
*.seq

!CMakeLists.txt

Makefile
cmake_install.cmake
CMakeFiles/

bin/
temp/

**/*.idea
**/*.vscode/**
**/*.ipynb_checkpoints/**
**/*__pycache__/**
*.pyc
