*.COM
*.com
*.EXE
*.exe
*.wav
*.MAP
*.map
*.TXT
*.txt
*.INI
*.ini
*.OBJ
*.obj
*.SWP
*.swp
*.o
*.a
*.seq
*.lnk
*.temp

ChipSequencer
ChipSequencer.exe
!CMakeLists.txt
cmake_install.cmake
CMakeFiles/

build/
bin/
temp/
tools/
venv/
fftw/

**/*.idea
**/*.vscode/**
**/*.ipynb_checkpoints/**
**/*__pycache__/**
*.pyc
